/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-item {
    margin: 0;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar-item a:hover {
    background-color: #575757;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

/* Bet site styling */
.match-container {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.team1-name {
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}
.team2-name {
    font-weight: bold;
    text-align: left;
    margin-right: 10px;
}
.goal-input {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.goal-input::-webkit-inner-spin-button,
.goal-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.goal-input:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 91, 187, 0.5);
}
.vs {
    text-align: center;
    font-weight: bold;
    margin: 0 10px;
}
.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
