/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-item {
    margin: 0;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar-item a:hover {
    background-color: #575757;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.left {
    align-items: left;
    text-align: left;
    float: left;
}
.right {
    font-size: 16px;
    font-style: bold;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.country {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100px;
}

/* Bet site styling */
.match-container {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.fi {
    font-size: 36px;
    font-weight: bolder;
    border: 2px solid #000000;
    margin: 0px;
    padding: 0px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    line-height: 0;
}

.goal-input {
    width: 60px;
    height: 60px;
    font-size: 26px;
    text-align: center;
    border: 3px solid #007BFF;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.goal-input::-webkit-inner-spin-button,
.goal-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.goal-input:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 91, 187, 0.5);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: none;
    -moz-appearance: textfield; /* Firefox */
}
.vs {
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}


.sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sidenav form {
    margin: 0 10px;
}
.sidenav span {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}
.sidenav button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.sidenav button:disabled {
    cursor: not-allowed;
    color: grey;
}


/* Leaderboard styling */
table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid black;
}
.user {
    width: 70%;
}
.score {
    width: 30%;
}