{% extends 'base.html' %}

{% block title %}
Place Your Bets
{% endblock %}


{% block content %}
<h2>Place Your Bets for Matchday</h2>

<form method="POST">
    {% for match in matches %}
        <div class="match-container">
            <span class="team1-name">{{ match[1] }}</span>
            <input type="number" name="match_{{ match[0] }}_team1_goals" min="0" max="9" class="goal-input">
            <span class="vs">vs</span>
            <input type="number" name="match_{{ match[0] }}_team2_goals" min="0" max="9" class="goal-input">
            <span class="team2-name">{{ match[2] }}</span>
        </div>
        <br>
    {% endfor %}
    <input type="submit" value="Submit Bets" class="submit-button">
</form>
{% endblock %}


