{% extends 'base.html' %}

{% block title %}
Place Your Bets
{% endblock %}

{% block content %}

<div class="sidenav">
    <form method="GET" action="{{ url_for('bet', matchday=matchday - 1) }}">
        <button type="submit" {% if matchday <= 1 %}disabled{% endif %}><i class="fas fa-arrow-left"></i></button>
    </form>
    <span>Matchday {{ matchday }}</span>
    <form method="GET" action="{{ url_for('bet', matchday=matchday + 1) }}">
        <button type="submit" {% if matchday >= 7 %}disabled{% endif %}><i class="fas fa-arrow-right"></i></button>
    </form>
</div>

<form method="POST">
    {% for match in matches %}
    <div class="match-container">
        <div class="right">
            <div class="country">
            <span class="fi fi-{{match[1]}}"></span>
            <span>{{match[6]}}</span>
            </div>
        </div>
        <input type="number" value="{{ match[3] }}" 
               name="match_{{ match[0] }}_team1_goals" min="0" max="9" 
               class="goal-input" data-match-id="{{ match[0] }}" data-team="team1" 
               {% if match[5] %}disabled{% endif %}>
        <span class="vs">:</span>
        <input type="number" value="{{ match[4] }}" 
               name="match_{{ match[0] }}_team2_goals" min="0" max="9" 
               class="goal-input" data-match-id="{{ match[0] }}" data-team="team2" 
               {% if match[5] %}disabled{% endif %}>
        <div class="left">
            <div class="country">
            <span class="fi fi-{{match[2]}}"></span>
            <span>{{match[7]}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</form>

<script>const csrfToken = "{{ csrf_token() }}";</script>
<script src="{{ url_for('static', filename='js/bet.js') }}"></script>
{% endblock %}


