{% extends 'base.html' %}


{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css">
{% endblock %}
{% block title %}
Tipp-Tabelle
{% endblock %}

{% block content %}
<body>
    <h1>Leaderboard</h1>
    <table>
        <colgroup>
            <col span="1" class="user">
            <col span="1" class="score">
        </colgroup>
        <tr>
            <th>Spieler</th>
            <th>Punkte</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}