{% extends 'base.html' %}


{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}">
{% endblock %}
{% block title %}
Tipp-Tabelle
{% endblock %}

{% block content %}
<body>
    <div class="sidenav">
        <form method="GET" action="{{ url_for('leaderboard', matchday=matchday - 1) }}">
            <button type="submit" {% if matchday <= 1 %}disabled{% endif %}><i class="fas fa-arrow-left"></i></button>
        </form>
        <span>{{ matchday_alias }}</span>
        <form method="GET" action="{{ url_for('leaderboard', matchday=matchday + 1) }}">
            <button type="submit" {% if matchday >= 7 %}disabled{% endif %}><i class="fas fa-arrow-right"></i></button>
        </form>
    </div>
    <div class="content">
        <table id="lead-table">
            <thead>
                <tr>
                    <th class="rank sticky">Pos</th>
                    <th class="player sticky">Spieler</th>
                    <th class="points sticky">Punkte</th>
                    {% for match in match_data %}
                    <th class="result">
                        <!-- div>KOR : POL</div -->
                        <div>
                            <span class="fi fi-{{ match[0] }}" style="font-size: 18px;"></span>
                            <span style="font-size: 18px;">:</span>
                            <span class="fi fi-{{ match[1] }}" style="font-size: 18px;"></span>
                        </div>
                        <div>{{ match[2] }}</div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for bet in bet_data %}
                <tr>
                    <td class="rank sticky">{{ bet[0] }}</td>
                    <td class="player sticky">{{ bet[1] }}</td>
                    <td class="points sticky">{{ bet[2] }}</td>
                    {% for bets in bet[3] %}
                    <td>{{ bets[0] }}<sub>{{ bets[1] }}</sub></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
</body>
{% endblock %}